.story-card {
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;

    img {
        width: 100%;
        height: auto;
        margin-bottom: -4px;
    }

    &.story-card-xl {
        max-width: 500px;
    }

    &.story-card-l {
        max-width: 333px;
    }

    &.story-card-m {
        max-width: 250px;
    }

    &.story-card-s {
        max-width: 250px;
        overflow: hidden;

        .story-card-content {
            height: 120px;
        }
    }

    .story-card-content {
        color: #fff;
        background-color: #09357B;
        height: 100px;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 4px;

        .story-card-body {
            font-size: 12px;
        }
    }

    &.border-bottom-red {
        border-bottom: 3px solid red;
    }

    &.border-bottom-green {
        border-bottom: 3px solid green;
    }

    &.border-bottom-blue {
        border-bottom: 3px solid blue;
    }

    &.border-bottom-yellow {
        border-bottom: 3px solid yellow;
    }

    &.border-bottom-orange {
        border-bottom: 3px solid orange;
    }

    &.border-bottom-grey {
        border-bottom: 3px solid grey;
    }

    &.border-bottom-violet {
        border-bottom: 3px solid violet;
    }
}

@media screen and (max-width:720px) {
    .story-card {

        &.story-card-xl,
        &.story-card-l,
        &.story-card-m,
        &.story-card-s {
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
    }

}
@media screen and (min-width:720px) and (max-width:1300px) {
    .story-card {
        &.story-card-xl,
        &.story-card-l,
        &.story-card-m,
        &.story-card-s {
            max-width: 250px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}