.title-bar {
    display: flex;
    justify-content: space-between;
    h1{
        font-size: 36px;
        margin: 16px 0 0 0;
    }
    .filter-btn-wrapper {
        margin: 32px;
        display: flex;

        .story-filter {
            margin-left: 16px;
            border-bottom: 1px solid #000;

            select {
                border: none;
                width: 150px;
            }
        }
    }

    .bookmark-btn {
        background-color: #09357B;
        color: #fff;
        border: none;
        padding: 5px 12px;
        border-radius: 4px;
        cursor: pointer;
    }
}