.header{
    display: flex;
    height: 50px;
    background: #0d47a1;//#09357B;
    width: 100%;
    justify-content: space-between;      
    .header-wrapper{
        max-width: 1300px;
    }
   .logo-img{
        max-height: 90%;
        padding: 5px;
        margin: 0 50px 0 50px;
   }
    .logo{
        align-self: center;
        margin: 0 50px 0 50px;
        color: #fff;
        font-size: 30px;
        text-decoration: none;
        cursor: pointer;
    }
    .search-bar{
        align-self:flex-end;
        margin: 0 50px 0 50px;
    }
}