.header {
    height: 50px;
    background: #0d47a1; //#09357B;
    width: 100%;

    .header-wrapper {
        display: flex;
        max-width: 1300px;
        height: 50px;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }

    .logo-img {
        max-height: 86%;
        padding: 3px;
        margin: 0 50px 0 50px;
    }

    .logo {
        align-self: center;
        margin: 0 50px 0 50px;
        color: #fff;
        font-size: 30px;
        text-decoration: none;
        cursor: pointer;
    }

    .search-bar {
        align-self: flex-end;
        margin: 0 50px 0 50px;
    }
}

@media screen and (max-width:720px) {
    .header {
        .logo-img {
            margin: 0 10px 0 10px;
        }

        .search-bar {
            margin: 0 10px 0 10px;
        }
    }
}